.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0 20px 40px rgb(255, 255, 255);
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.container::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: -1;
  border-radius: 20px;
  background: linear-gradient(to right, #ff0000, #0004ff);
  filter: blur(30px);
  opacity: 0.8;
}

.add-part {
  justify-content: center;
  text-align: center;
  display: block;
}

mat-form-field {
  margin: 20px;
}

button{
  width: 100%;
  padding: 10px;
  background-color: #ff000088;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  display: block;
  border: 1px 1px white;
}
button:hover{
  background-color: #ff0202;
}

.upload-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.upload-button:hover {
  background-color: #3e8e41;
}