.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0 20px 40px rgb(255, 255, 255);
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.container::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: -1;
  border-radius: 20px;
  background: linear-gradient(to right, #ff0000, #0004ff);
  filter: blur(30px);
  opacity: 0.8;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 40px;
}

.pc {
  position: relative;
  background: #363636;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.2s ease-in-out;
}

/* Gradient Glow Behind */
.pc::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  z-index: -1;
  border-radius: 16px;
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.548), rgba(4, 0, 255, 0.822));
  filter: blur(25px);
  opacity: 0.9;
}

.pc:hover {
  transform: scale(1.01);
}

.pc:hover {
  transform: scale(1.01);
}

.pc h2 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

mat-form-field {
  width: 80%;
  min-width: 250px;
  margin: 10px 0;
}

mat-option{
  background-color: white !important;
}

.button {
  width: 100%;
  padding: 14px;
  background-color: #ff000088;
  color: white;
  border: 1px 1px white;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #ff0202;
}

.comparison {
  text-align: center;
  margin-top: 30px;
  font-size: 1.1rem;
  color: #ffffff;
}
